@import "normalize";
@import "foundation";
@import "pizi-backbone";
body {
    background-color: #222;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}

pizi-chat {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Control Panel */
    info {
        float: right;
        height: 100%;
        background-color: #333;
        color: #999;
        width: 180px;
    }
    info h1 {
        background-color: #999;
        width: 100%;
        color: #333;
        margin: 0;
        padding: 0 5px;
        float: left;
        font-size: 1em;
    }
}

popup .container {
    min-width: 400px;
    background-color: #222;
}

@import 'chat';
@import 'roomList';
@import 'userList';
@import 'addRoom';