room-list{
	display: block;
	margin-bottom: 20px;
	height: 50%;
	.add{
		float: right;
		margin-right: 5px;
		&:hover{
			cursor: pointer;
		}
	}
	#roomList{
		float: left;
		width: 100%;
		text-indent: 5px;
		.actualRoom{
			background-color: #008CBA;
			color: #DDD;
		}
		span.label {
			text-indent: 0;
			margin-left: 5px;
			top: -2;
		}
		span.close{
			float: right;
			margin-right: 5px;
			&:hover{
				cursor: pointer;
			}
		}
	}
}